@{
    Layout = "~/Views/Shared/_LMSLayout.cshtml";
}
<h3>@ViewBag.Message</h3>

<address>
    RS APP Maker<br />
    Balewadi Pune, MH - 411004<br />
    <abbr title="Phone">P:</abbr>
    9657157311
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rameshsankad@gmail.com">rameshsankad@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:rameshsankad@gmail.com">rameshsankad@gmail.com</a>
</address>